@page
@model RoR2Logbook.Pages.Survivors.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survivor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Survivor.Icon)
        </dt>
        <dd>
            <div class="survivor itembg">
                <img class="icon" src=@Url.Content(Model.Survivor.Icon) />
            </div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Survivor.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Survivor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Survivor.BaseMaxHealth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Survivor.BaseMaxHealth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Survivor.MaxHealthIncrease)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Survivor.MaxHealthIncrease)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Survivor.BaseDamage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Survivor.BaseDamage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Survivor.DamageIncrease)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Survivor.DamageIncrease)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Survivor.Speed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Survivor.Speed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Survivor.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Survivor.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Survivor.ID" class="btn btn-warning">Edit</a>
    <a asp-page="./Index" class="btn btn-info">Back</a>
</div>
