@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<hr />
<h3>What is Risk of Rain 2?</h3>
<p>@Model.ror2</p>
<hr />
<h3>Who am I?</h3>
<p>@Model.who <a href="https://github.com/dbedggood"><b>here</b></a>.</p>
<hr />
<h3>Why did I make this?</h3>
<p>@Model.why</p>
<hr />
<h3>How did I make this?</h3>
<p>@Model.how1 <a href="https://docs.microsoft.com/en-nz/aspnet/core/tutorials/razor-pages/razor-pages-start"><b>here</b></a>@Model.how2</p>

