@model RoR2LogbookMVC.Models.Item

@{
    ViewData["Title"] = "Delete";
    ViewData["Title"] = "Details";
    ViewData["tier1"] = "Common Item";
    ViewData["tier2"] = "Uncommon Item";
    ViewData["tier3"] = "Legendary Item";
    ViewData["boss"] = "Boss Item";
    ViewData["lunar"] = "Lunar Item";
    ViewData["equipment"] = "Equipment";
}

<h2 class="text-light">Delete Item</h2>
<h3 class="text-light">Are you sure you want to delete this?</h3>

<div>
    <hr />
    <dl class="text-light row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Icon)
        </dt>
        <dd class="col-sm-10">
            <div class="@Model.Type itembg">
                <img class="icon" src=@Model.Icon />
            </div>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @ViewData[Model.Type]
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PickupText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PickupText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (Model.Challenge != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Challenge)
            </dt>
            <dd class="col-sm-10 align-self-center">
                @Html.DisplayFor(model => model.Challenge)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        @if (Model.Notes != null)
        {
            <dd class="col-sm-10">
                <div style="white-space: pre-wrap;">@Html.DisplayFor(model => model.Notes)</div>
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                <div style="white-space: pre-wrap; color: grey;">Welcome to DataScraper (v3.1.53   beta branch)
$  Scraping memory... error...
$  Resolving... error...
$  Combing for relevant data...
Error!
Outputting error log...
                </div>
            </dd>
        }
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" />
        <a class="btn btn-outline-info" asp-action="Index">Back</a>
    </form>
</div>
