@model IEnumerable<RoR2LogbookMVC.Models.Item>

@{
    ViewData["Title"] = "Items";
}

    <div class="row">
        <div class="col-9 form-inline">
            <h2 class="text-light" style="margin-right: 10px;">Items:</h2>
            <form asp-controller="Items" asp-action="Index" method="get">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" name="search" value="@ViewData["currentFilter"]">
                    <div class="input-group-append">
                        <input class="btn btn-outline-light" type="submit" value="🔍" />
                    </div>
                </div>
            </form>
        </div>
        
        <div class="col-3 align-self-center">
            <span class="float-right">
                @if (User.Identity.Name != null)
                {
                    <a class="btn btn-outline-success" asp-action="Create">Create</a>
                }
                else
                {
                    <a class="btn btn-outline-success" asp-controller="Account" asp-action="Login">Login</a>
                }
            </span>
        </div>
    </div>


<br />

<table class="table text-light mb-0">
    <thead>
        <tr>
            <th style="width: 10%">
                <div class="float-left" style="margin-right: 3px;">
                    @Html.DisplayNameFor(model => model.Icon)
                </div>
                <div>
                    <a style="margin-right: -2px;" asp-action="Index" asp-route-sort="orderAscending" asp-route-search=@ViewData["currentFilter"]><i class="fas fa-caret-up text-white"></i></a>
                    <a asp-action="Index" asp-route-sort="orderDescending" asp-route-search=@ViewData["currentFilter"]><i class="fas fa-caret-down text-white"></i></a>
                </div>
            </th>
            <th style="width: 20%;">
                <div class="float-left" style="margin-right: 3px;">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
                <div>
                    <a style="margin-right: -2px;" asp-action="Index" asp-route-sort="nameAscending" asp-route-search=@ViewData["currentFilter"]><i class="fas fa-caret-up text-white"></i></a>
                    <a asp-action="Index" asp-route-sort="nameDescending" asp-route-search=@ViewData["currentFilter"]><i class="fas fa-caret-down text-white"></i></a>
                </div>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupText)
            </th>
            <th style="width: 25%"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div class="@item.Type itembg">
                    <img class="icon" src=@item.Icon />
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupText)
            </td>
            <td class="text-right">
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ID">Details</a>
                @if (User.Identity.Name != null)
                {
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
