@model IEnumerable<RoR2LogbookMVC.Models.Survivor>

@{
    ViewData["Title"] = "Survivors";
}

    <div class="row">
        <div class="col-6">
            <h2 class="text-light">@ViewData["Title"]</h2>
        </div>
        <div class="col-6 align-self-center">
            <span class="float-right">
                @if (User.Identity.Name != null)
                {
                    <a class="btn btn-outline-success" asp-action="Create">Create</a>
                }
                else
                {
                    <a class="btn btn-outline-success" asp-controller="Account" asp-action="Login">Login</a>
                }
            </span>
        </div>
    </div>

<br />

<table class="table text-light mb-0">
    <thead>
        <tr>
            <th style="width: 10%">
                @Html.DisplayNameFor(model => model.Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Health
            </th>
            <th>
                Damage
            </th>

            <th style="width: 25%"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <div class="survivor itembg">
                    <img class="icon" src=@item.Icon />
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseMaxHealth) HP
                (+@Html.DisplayFor(modelItem => item.MaxHealthIncrease) per level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaseDamage) Base Damage

                (+@Html.DisplayFor(modelItem => item.DamageIncrease) per level)
            </td>

            <td class="text-right">
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.ID">Details</a>
                @if (User.Identity.Name != null)
                {
                    <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
